Source: imx-mkimage
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper
Section: misc
Priority: optional

Package: imx-mkimage
Section: misc
Priority: optional
Architecture: any
Description: Tools to create bootloader images for i.MX8
